<section id="hero">
  <div class="container max-w-6xl mx-auto px-6 py-12 md:px-0 ">
    <nav class="flex items-center justify-between font-bold text-white">
      <div class=" h-10 font-alata md:flex md:space-x-8 font-bold">
        <div class="group">
          <ul class="hidden sm:block">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>yes</li>
            <li>No</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
